body {
  background-color: #fcfcfc;
  font-family: "Atma";
}
h1, h2 {
  font-family: "Atma";
  font-weight: 700;
  text-transform: uppercase;
}
@supports (font-variation-settings: normal) {
  h1, h2 {
    font-family: "Atma";
    font-variation-settings: "wght" 700;
  }
}

/* NAVBAR  */
.navbar-brand {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: #212529 !important;
  background-color: transparent;
  padding: 0px 14px;
  border-radius: 5px;
}
.navbar-brand.bg-light {
  color: #212529;
  margin-right: 4px;
}


/* TESTAMENTS */
.testaments a {
  width: initial;
  text-decoration: none;
  margin-right: 5px;
  padding: 0;
}
.testaments button {
    font-size: 15px;
    font-weight: bold;
    /* color: #333; */
    font-family: 'Atma';
    /* width: 170px; */
    text-align: left;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #ccc; */
}
.card-header,
.card-footer {
  background-color: #f8d7da !important;
  border: 0;
}
.card-body {
  /* background-color: #ddd; */
  border: 0
}
.card:hover { 
  border-color: #dc3545 !important;
  background-color: #dc3545;
  color: #fcfcfc !important;
}
.card {
  border-color: #f8d7da!important;
   background-color: #f8d7da !important;
}
.card:hover button {
  background-color: #dc3545;
  color: #fcfcfc !important;
}
.card:hover .card-header, .card:hover .card-footer, .card:hover .card-body  {
  background-color: #dc3545 !important;
  border-color: #dc3545!important;
}
.chapter-header {
  line-height: 50px;
}

.chapter-header span { 
  margin-left: 20px;
  margin-bottom: 20px;;
}

.chapter {
    font-size: large;
}

.chapter p { 
  font-family: 'Times New Roman', Times, serif, Arial;
}
.chapter p span {
    color: #dc3545;
    margin-right: 5px;
    display: inline-block;
}

.chapter .container {
  padding: 0px;
}
.chapter .container button {
  /* margin-right: 0px !important;
  width: 160px; */
}

.breadcrumb a {
  text-decoration: none;
  color: #dc3545;
}

button {
    font-size: 15px;
    font-weight: bold !important;
    font-family: 'Atma';
    text-transform: uppercase;
}

/* selected_verse  */
p.selected_verse {
  font-size: 15px;
  font-weight: bold !important;
  font-family: 'Atma';
  text-transform: uppercase;
  background-color: #212529;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}
p.selected_verse span  { 
   color: #fff;
}

/* Drodown menu */

.dropdown-menu {
  background-color: #212529;
  margin-top: 12px;
}

.dropdown-item {
  color: #fcfcfc;
  padding: .6rem .9rem;
  font-weight: 700;
  text-transform: uppercase;
}
.dropdown-item:hover { 
  background-color: #dc3545;
  color: #fcfcfc;
}
.dropdown-toggle::after {
  display: none;
}

.card-title {
    font-weight: 700;
    text-transform: uppercase;
}


.list-group-item {
  padding: 0.1rem 1rem;
}

/* navbar */
.navbar {
   background-color: #f8d7da !important;
}
.navbar .search {
  position: relative;
}
.navbar #search {
  font-family: arial;
  text-transform: capitalize;
}
.navbar ul {
  background-color: #212529;
  position: absolute;
  width: 91%;
  padding: 15px;
}
.navbar ul li {
  color: #fff;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3px;
}
.navbar ul li span {
  display: block;
}

.navbar ul li span.heading {
  font-size: 14px;
  font-weight: 600;
}

.navbar ul li span.text {
  font-size: 12px;
}
