body {
  background-color: #fcfcfc;
  font-family: "Atma";
}
h1, h2 {
  font-family: "Atma";
  font-weight: 700;
  text-transform: uppercase;
}
@supports (font-variation-settings: normal) {
  h1, h2 {
    font-family: "Atma";
    font-variation-settings: "wght" 700;
  }
}

/* NAVBAR  */
.navbar-brand {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  background-color: #dc3545;
  padding: 0px 14px;
  border-radius: 5px;
}


/* TESTAMENTS */
.testaments a {
  width: initial;
  text-decoration: none;
}
.testaments button {
    font-size: 15px;
    font-weight: bold;
    /* color: #333; */
    font-family: 'Atma';
    width: 170px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
}
.testaments button span {
  
}

.chapter-header {
  line-height: 50px;
}

.chapter-header span { 
  margin-left: 20px;
  margin-bottom: 20px;;
}

.breadcrumb a {
  text-decoration: none;
  color: #dc3545;
}

button {
    font-size: 15px;
    font-weight: bold !important;
    font-family: 'Atma';
    text-transform: uppercase;
}